body {
    
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    color:white;
    text-align: center; /* Center the title and timer */
    margin: 0; /* Remove default margin */
    
}
/* Results Page Background */
#resultsPage {
    background-color: rgb(47, 156, 207);; /* Light pink */
}

/* Results container styling */
#results {
    margin-top: 20px;
    font-size: 18px;
    text-align: left;
    color: #333;
}

/* Feedback message styling */
#results h3 {
    color: #4CAF50;
    font-weight: bold;
}
#resultsList{
    text-align: left;
    color:#000;
    width: 80%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#explanationDialog {
    margin: 20px auto;
    background-color: #15679e;
    border-color: aliceblue;
    width: auto;
    height: auto;
    max-width: 50%; /* Adjusts to screen size */
    max-height: 60vh; /* Limits height to 80% of viewport */
    padding: 20px;
    border-radius: 8px;
    overflow-y: auto; /* Adds scrolling if content is taller than max-height */
    box-shadow: 0px 4px 15px rgba(10, 7, 7, 0.3);
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

#dialogContent iframe {
    width: 100%; /* Match the width of the dialog */
    height: auto; /* Adjust height proportionally */
    aspect-ratio: 16 / 9; /* Maintain 16:9 aspect ratio for videos */
}

#explanationDialog[open] {
    opacity: 1;
    transform: scale(1);
}



#dialogContent {
    max-width: 100%;
    margin: 1em 0;
    text-align: left;
     /*gap: 05px; /* Add spacing between elements *//
}

#closeDialog {
    background-color: #1e73db;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    font-weight: bold;
    color:aliceblue;
    margin-top: 10px;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    border-color: aliceblue;
}
#retakeExamBtn{
    background-color: #4f1fbf;
    border-color: aliceblue;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    border-radius: 8px;
    color:aliceblue;
    padding: 10px;
    cursor: pointer;
    font-size: 1em;
    
}
#retakeExambtn:hover{
    background-color: #081439;
}
.correct-answer {
    color: black;
}

.wrong-answer {
    color: red;
}
/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
